.style_SkipStroke_3 {
    background: transparent;
    opacity: 0.35;
}
.style_External_140_32 {
    position: relative;
}
.style_External_630_66 {
    position: relative;
}
.style {
    padding: 4px;
}
.style_1 {
    padding: 0px;
}
.style_External_630_49 {
    position: relative;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: #463c3c;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Caption {
    color: #463c3c;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #969696;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal_External_630_49 {
    position: relative;
}
.Normal_External_630_66 {
    position: relative;
}
.Normal {
    padding: 4px;
}
.Title {
    color: #463c3c;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_body_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_630_32 {
    position: relative;
}
.image_cluster_layout_style_default {
    padding: 0px;
}
.image_cluster_layout_style_default_External_140_32 {
    position: relative;
}
a {
    color: #463c3c;
    text-decoration: underline;
}
a:visited {
    color: #666666;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: underline;
}
#widget1 a:visited {
    color: #666666;
    text-decoration: underline;
}
#widget2 {
    display: none;
}
#widget2 .Comment_Posted_Date {
    color: #463c3c;
    font-family: 'Arial-BoldMT', 'Arial', 'Arial Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget0 a:visited {
    color: #666666;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#id2 canvas {
    z-index: -1;
}
#widget0 a:hover {
    color: #000000;
    text-decoration: underline;
}
#widget3 a:hover {
    color: #000000;
    text-decoration: underline;
}
#widget1 .Comment_Posted_Date {
    color: #463c3c;
    font-family: 'Arial-BoldMT', 'Arial', 'Arial Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
#widget3 a {
    color: #463c3c;
    text-decoration: underline;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget2 .Caption {
    color: #463c3c;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}
#widget0 a {
    color: #463c3c;
    text-decoration: underline;
}
#widget2 a {
    color: #463c3c;
    text-decoration: underline;
}
#widget2 a:visited {
    color: #666666;
    text-decoration: underline;
}
#widget3 a:visited {
    color: #666666;
    text-decoration: underline;
}
#id2 div.caption {
    line-height: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-indent: 0px;
}
#widget1 a:hover {
    color: #000000;
    text-decoration: underline;
}
#widget2 a:hover {
    color: #000000;
    text-decoration: underline;
}
#widget3 .Comment_Posted_Date {
    color: #463c3c;
    font-family: 'Arial-BoldMT', 'Arial', 'Arial Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 1.00;
    text-align: left;
    text-decoration: none;
    text-transform: none;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
#id2 div.caption span.title {
    color: #463c3c;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 16px;
    opacity: 1.00;
    text-decoration: none;
    text-transform: none;
}
#widget1 a {
    color: #463c3c;
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
