<?xml version="1.0" standalone="yes">

<config>
	<dirs>
		<data>data</data>
		<pixmaps>$datadir/pixmaps/</pixmaps>
	</dirs>

	<damagetable>$datadir/damagetable.xml</damagetable>
	<units>$datadir/units.xml</units>

	<defaults>
	  <initial-funds>0</initial-funds>
	  <funds-per-building>1000</funds-per-building>
	</defaults>
</config>
